*{
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('./img/goran-ivos-307271.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.wrapper{
    color: white;
    margin-top: 5rem;
    display: block;
    width: 50%;
    margin: 0 auto;
}
#input{
    width: 30%;
    padding: 0.5rem;
}
.list{
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid white;
    color: white;
}
.button{
    margin-top: 1.3rem;
}