<!DOCTYPE html>
<html>
    <html lang="en"></html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">

    </head>
    <body>
        <section class="lsp-section1" id="content">
            <div class="row">
                <p class="lsp-long-copy">
                    LSP is a complete, 1-pill, 
                    once-a-day prescription medicine used to treat HIV-1 in adults.
                    LSP does not cure HIV-1 or AIDS. HIV-1 is the virus that causes AIDS.
                </p>
            </div>
            
            <div class="row">
                <div class="col span-1-of-2 box">
                    <h1 class="lsp-heading">LSP Goes Where You Go</h1>
                    <p class="lsp-para">
                        Wherever your daily life takes you, LSP can go there, too. 
                        It's just 1 pill, once a day, taken at the time of day you want, 
                        with or without food. When taken every day, LSP can help you 
                        get to undetectable, which means the amount of virus in the blood 
                        is so low that it can’t be measured by a test (less than 50 copies/mL). 
                        According to the U.S. Department of Health and Human Services (DHHS),
                        many patients can get to undetectable in as quickly as 8 to 24 weeks, 
                        when taking their treatment as prescribed.
                    </p>
                    <div class="lsp-learn">
                        <a href="#">
                        <b>LEARN ABOUT REACHING UNDETECTABLE<b></a>
                    </div>
                </div>
                <div class="vl"></div>
                <div class="col span-1-of-2 box">
                    <div class="lsp-row1">
                        <cite><img src="./youtube.png" alt="youtube icon"> <a href="#"> <b>WATCH THE LSP COMMERCIAL</b></a></cite>
                    </div>
                    <hr>
                    <div class="lsp-row2">
                        <cite><img src="./pdf.png" alt="pdf icon"> <a href="#"> <b>DOWNLOAD THE LSP BROCHURE</b></a></cite>
                    </div>  
                </div>
            </div>   
        </section>
    </body>
</html>