    <!DOCTYPE html>
    <html>
        <head>
        <title> </title>
        <meta name="viewport" content="width= device-width, initial scale=1">
        <meta name="description" content="">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="/icons/">
        </head>
        <body>
            <div class="lsp-grid-container">
                <div class="lsp-grid1">
                    <p class="lsp-para">LSP is a complete, 1-pill, 
                        once-a-day prescription medicine used to treat HIV-1 in adults.
                        LSP does not cure HIV-1 or AIDS. HIV-1 is the virus that causes AIDS.</p>
                    <h1 class="lsp-head"> LSP Goes Where You Go</h1>
                    <p class="lsp-para">Wherever your daily life takes you, LSP can go there, too. 
                        It's just 1 pill, once a day, taken at the time of day you want, 
                        with or without food. When taken every day, LSP can help you 
                        get to undetectable, which means the amount of virus in the blood 
                        is so low that it can’t be measured by a test (less than 50 copies/mL). 
                        According to the U.S. Department of Health and Human Services (DHHS),
                         many patients can get to undetectable in as quickly as 8 to 24 weeks, 
                         when taking their treatment as prescribed.
                    </p>
                    <a href="#"><strong>LEARN ABOUT REACHING UNDETECTABLE</strong></a>
                </div>
                <hr>
                <div class="lsp-grid2">
                    <img src="./youtube.png" alt="youtube icon" class="lsp-icon">
                    <a href="#"class="lsp-youtube" target="_blank"> <strong>WATCH THE LSP COMMERCIAL</strong></a>
                    <hr>
                    <div class="lsp-grid3">
                        <img src="./pdf.png" alt="pdf icon">
                        <a href="#" class="lsp-pdf" target="_blank">
                            <strong>DOWNLOAD THE LSP BROCHURE</strong>
                        </a>
                    </div>
                   
                </div>
            </div>
    </body>
    </html>