* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f3f3f3;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  line-height: 1.48rem;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
.lsp-heading{
  color: #c8102e;
  font: normal normal 300 1.5rem/2rem "proxima-nova", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 0.3px;
  line-height: 2.6rem;
  margin-top: 2rem;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 3px solid #6dccb7;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
  color: #6dccb7;
  border-bottom: 4px solid transparent;
}
.lsp-long-copy{
  margin-bottom: 1rem;
}
.lsp-long-copy1{
  margin-bottom: 2rem;
}
.lsp-row1{
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.lsp-row2{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.lsp-pdf{
  position: relative;
}
.lsp-link{
  margin-top: 1rem;
}