body{
    font-family: 'Roboto', sans-serif;
}
.courses{
    display: flex;
    border-radius: 5px 2px 3px 10px;
    box-shadow: 0 0 2px #888887;
}
main{
    padding: 30px 80px;
}
.img{
    width: 734px;
    margin-right: 29px;
    border-radius: 5px 0px 0px 5px;
}
.get{
    font-size: 28px;
    line-height: 34px;
    padding-top: 8px;
}
.our{
    line-height: 22px;
    padding-bottom: 35px;
    padding-top: 8px;
}
cite img{
    width: 30px;
    vertical-align: text-top;
    border-radius: 50%;
    margin-right: 6px;
}
cite{
    font-style: inherit;
    font-size: 12px;
}
.time{
    float: right;
    margin-top: -26px;
    margin-right: 10px;
    font-size: 11px;
}
.month{
    font-size: 11px;
    margin-left: 36px;
    margin-top: -13px;
}
.row{
    display: flex;
    padding: 20px 0px;
}
.stack{
    width: 33%;
    border-radius: 5px 5px 9px 9px;
    box-shadow: 0px 0px 2px rgb(100 100 100);   
}
.img1{
    width: 349px;
    border-radius: 5px 5px 0px 0px;
}
.green{
    font-size: 15px;
    color: aquamarine;
}
.red{
    font-size: 15px;
    color: red;
}
.purple{
    font-size: 15px;
    color: mediumpurple;
}
.modern{
    font-size: 22px;
}
.info{
    padding: 10px 26px;
    margin-top: -7px;
    
}
.Tutorial{
    width: 33%;
    margin-left: 28px;
    margin-right: 28px;
    border-radius: 5px 5px 9px 9px;
    box-shadow: 0px 0px 2px rgb(100 100 100);   
}