body{
    font-family: 'Roboto', sans-serif;
}
.courses{
    display: flex;
    border-radius: 5px 9px 5px 10px;
    box-shadow: 0 0 11px lightgrey;
}
main{
    padding: 30px 80px;
    width: 980px;
    left: 50%;
    margin-left: 339px;
}
.img{
    width: 66%;
    margin-right: 13px;
    border-radius: 5px 0px 0px 5px;
}
.App{
    margin: 0px 9px;
}
.get{
    font-size: 30px;
    line-height: 34px;
    padding-top: 8px;
}
.our{
    line-height: 21px;
    padding-bottom: 35px;
    padding-top: 8px;
    font-size: 15px;
}
.lorem{
    line-height: 21px;
    margin-bottom: 20px;
    font-size: 14px;
}
cite img{
    width: 30px;
    vertical-align: text-top;
    border-radius: 50%;
    margin-right: 6px;
}
cite{
    font-style: inherit;
    font-size: 12px;
}
.time{
    float: right;
    margin-top: -26px;
    margin-right: 10px;
    font-size: 11px;
}
.month{
    font-size: 11px;
    margin-left: 36px;
    margin-top: -13px;
}
.row{
    display: flex;
    padding: 20px 0px;
}
.stack{
    width: 33%;
    border-radius: 5px 5px 9px 9px;
    box-shadow: 0px 0px 10px lightgrey;
}
.img1{
    width: 308px;
    border-radius: 5px 5px 0px 0px;
}
.green{
    font-size: 15px;
    color: aquamarine;
}
.red{
    font-size: 15px;
    color: red;
}
.purple{
    font-size: 15px;
    color: mediumpurple;
}
.modern{
    font-size: 19px;
}
.info{
    margin: 31px 21px;
    margin-top: -7px;
    
}
.Tutorial{
    width: 33%;
    margin-left: 28px;
    margin-right: 28px;
    border-radius: 5px 5px 9px 9px;
    box-shadow: 0px 0px 10px lightgrey;
}