body{
background-color: aquamarine;
}
header{
    text-align: center;
}
main{
    display: grid;
    grid-auto-flow: column;
    background-color: white;
    margin: 0px 30px;
}
.cart{
    display: flex;
}
.line{
    border-right: 1px solid lightgrey;
}
main h1{
    color: lightgray;
}
main p{
    color: lightgray;
}