
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.log {
    display: flex;
    padding: 2rem 0;
}
.log a{
    font-size: 1.5rem;
    padding: 0 1rem 0.5rem 0;
}
@font-face {
	font-family: 'NunitoSans-Regular';
	src: url('../fonts/Nuitosans-regular/NunitoSans-Regular.eot');
	src: local('☺'), url('../fonts/Nuitosans-regular/NunitoSans-Regular.woff') format('woff'), url('../fonts/Nuitosans-regular/NunitoSans-Regular.ttf') format('truetype'), url('../fonts/Nuitosans-regular/NunitoSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSans-Light';
	src: url('../fonts/Nuitosans-light/NunitoSans-Light.eot');
	src: local('☺'), url('../fonts/Nuitosans-light/NunitoSans-Light.woff') format('woff'), url('../fonts/Nuitosans-light/NunitoSans-Light.ttf') format('truetype'), url('../fonts/Nuitosans-light/NunitoSans-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NunitoSans-Bold';
	src: url('../fonts/Nuitosans-bold/NunitoSans-Bold.eot');
	src: local('☺'), url('../fonts/Nuitosans-bold/NunitoSans-Bold.woff') format('woff'), url('../fonts/Nuitosans-bold/NunitoSans-Bold.ttf') format('truetype'), url('../fonts/Nuitosans-bold/NunitoSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
    font-family: 'NunitoSans-Regular';
    background-color: #FFFFFF;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}
.navbar ul{
    display: none;
}
.navbar li{
    padding: 1.5rem;
}
.navbar a{
    text-decoration: none;
    color: #000;
}
.apply a{
    padding: 0.5rem 1.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #d3d3d3;
    color: #43CB83;
    background-color: #FFFFFF;
}
.container{
    display: block;
}
.content{
    padding: 1rem;
}
.image2 {
    width: 100%;
    margin: 0;
} 
.image2 img{
    width: 100%;
    margin: 0;
}
.content h1{
    color: #43CB83;
    font-size: 1.6rem;
}
.content p{
    padding: 1rem 0rem 2rem 0;
}
.content a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #FFFFFF;
    border-radius: 2rem;
    background-color: #43CB83;
    color: #fff;
}
.grid{
    display:block;
    width:100%;
    padding: 1rem;
}
.blocks{
    width:100%;
}
.block1 p{
    font-family: 'NunitoSans-Bold';
    font-size: 1.5rem;
}
.pic{
    background-image: url('./img/download.png');
    background-repeat: no-repeat;
    background-position: bottom -2rem left -19rem;
    background-size: 55%;
}
.block1{
    display: block;
    width: 100%;
}
.block1 div{
    text-align: center;
    padding: 3rem 3rem;
    width: 100%;
    border-radius: 0.2rem;
    margin: 1rem 0;
}
.pink{
    background-color: #F1E3FC;
    margin-bottom: 1rem;
}
.green{
    background-color: #E3FCFA;
}
.orange{
    background-color: #FCF0E3;
}
.orangel{
    background-color: #FCEEE3;
}
.yellow{
    background-color: #F3FCE3;
}
.blue{
    background-color: #E3F3FC;
}
.university{
    width: 100%;
    padding: 1rem;
}
.university img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    border: 1rem solid #DDF1FB;
    padding: 1rem;
}
.college{
    display: block;
}
.more {
    width: 100%;
    padding: 1rem;
}
.more h2{
    color: #43CB83;
    font-size: 1.6rem;
    padding: 1rem 0 0 0;
}
.more p{
    padding: 1rem 0;
}
.count{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.count h3{
    font-family: 'NunitoSans-Bold';
    font-size: 1.6rem;
}
.count p{
    padding: 0;
}
.four{
    color: #FFBA00;
}
.two{
    color: #FF5F72;
}
.five{
    color: #43CB83;
}
.fast{
    background-color: #F1E3FC;
}
.work{
    display: block;
    padding: 1rem 0;
}
.start2{
    padding: 1rem ;
}
form input{
    outline: none;
    border: 0;
    border-bottom: 1px solid #80808063;
    background: inherit;
    padding: 0.5rem 7rem 0.5rem 0.5rem;
    margin: 1rem 0rem 0 1rem;
}
.account{
    background-image: url(./img/download.png), url(./img/Abgerundetes\ Rechteck\ 5@1X.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.account h3{
    text-align: center;
    padding: 1.5rem 0 0 0; 
}
form label{
    color: #87959C;
}
.call{
    display: flex;
    justify-content: space-around;
}

.call1 {
    text-decoration: none;
    border: 1px solid #43CB83;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    margin: 0.4rem;
    background: #43CB83;
    color: #FFFFFF;
}
.call2 a{
    color: #87959C;
    padding: 0 1rem;
}
.number{
    text-decoration: none;
    color: #5A6E79;
    font-family: 'NunitoSans-Bold';
    font-size: 1rem;
}
.container1{
    padding: 1rem;
}
.news{
    width: 100%;
}
.news1{
    width: 100%;
    padding: 2rem 0;
}
.news1 a{
    text-decoration: none;
    padding: 0.5rem 1.7rem;
    border-radius: 2rem;
    background-color: #43CB83;
    border: inherit;
    color: #fff;
}
.news h3{
    color: #43CB83;
    padding: 1rem 0;
    font-size: 1.6rem;
}
.container2{
    padding: 1rem;
}
.container2 h3{
    font-family: 'NunitoSans-Bold';
    font-size: 1.6rem;
}
.child{
    width: 90%;
}
.container2 div p{
    padding: 0.5rem 0;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icon1{
    padding: 0.5rem 0;
}
.icons a{
    text-decoration: none;
    color: #5A6E79;
    padding: 0 0.5rem 0 0;
}
footer{
    background-color: #252C3A;
    color: #969595;
}
footer a{
    text-decoration: none;
    color: #969595;
}
.color nav ul{
    list-style-type: none;
    display: block;
}
.edu{
    padding: 1rem;
}
.edu h3{
    padding: 1rem 0;
    color: #FFFFFF;
}
.edu nav ul{
    list-style-type: none;
}
.edu nav ul li{
    padding: 1rem 0 0 0;
}
.web{
    width: 100%;
}
.web1{
    width: 100%;
}
.web2{
    width: 100%;
}
.web3{
    width: 100%;
}
.web p{
    padding: 1rem 0;
}
.web a{
    padding: 0 0.3rem;
}

.web3 input{
    background-color: #FFFFFF;
    padding: 0.5rem;
    border: none;
    outline: none;
}
.web3 a{
    margin-left: -4.96rem;
    border: 1px solid #43CB83;
    background-color: #43CB83;
    color: #FFFFFF;
    text-align: center;
    padding: 0.24rem 0.5rem 0.31rem 0.5rem;
    font-size: 0.9rem;
}
.web3 p{
    padding: 1rem 0;
}
.web3 input{
    background-color: #FFFFFF;
}
.color{
    background-color: #1D232E;
    padding: 1rem;
    font-size: 0.9rem;
}
.logo{
    width: 100%;
    padding: 0 1rem;
}
.image1 img{
    width: 100%;
}
.menu:hover .menu-list {
    display: block;
}
.menu {
    position: relative;
    display: inline-block;
  }
  
  .menu-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .menu-list li{
      padding: 1px;
      list-style-type: none;
  }
  .menu-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* media queriws */


@media (min-width: 768px){
    .logo{
        width: auto;
        padding: 0;
    }
    .log{
        display: block;
    }
    .navbar ul{
        display: none;
    }
    .copyright{
        display: flex;
        justify-content: space-between;
    }
    .container{
        padding: 1rem;
    }
    .image1{
        width: 25%;
        padding: 1rem 0 0;
    }
    .wrapper{
        display: flex;
    }
    .content{
        width: 50%;
    }
    .content h1{
        font-size: 1.6rem;
        padding: 0rem 0 0 1rem;
    }
    .content p{
        padding: 0 0 1rem 1rem;
    }
    .image2{
        width: 25%;
    }
    .our{
        padding: 0 1rem;
    }
    .grid{
        display:block;
        width:100%;
        margin: 0 auto;
        padding: 5rem 0;
    }
    .block1{
        display: flex;
    }
    .block1 div{
        text-align: center;
        padding: 3rem 3rem;
        width: 35%;
        border-radius: 0.4rem;
        margin: 0 0 1rem 1rem;
    }
    .blocku{
        display:block;
        width:100%;
        margin: 0 auto;
    }
    .pic{
        background: none;
    }
    .university{
        width: 50%;
    }
    .university img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: 1rem solid #DDF1FB;
        padding: 1rem;

    }
    .more {
        width: 50%;
        padding: 0 0 5rem 0;
    }
    .more h2 {
        font-size: 1.6rem;
    }
    .college {
        display: flex;
        padding: 1rem;
    }
    .work {
        display: block;
    }
    .work1 {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem 0;
    }
    .start2 {
        padding: 8rem 0 0 5rem;
    }
    .account {
        background-image: url(./img/download.png), url(./img/Abgerundetes\ Rechteck\ 5@1X.png);
        background-repeat: no-repeat;
        background-position-x: inherit;
        background-size: 100%;
        margin-top: -1rem;
        margin-bottom: -3rem;
        border: 1px solid #8080804d;
        box-shadow: 0.1rem 0.1rem 1rem #8888889c;
        width: 45%;
        }
    .blocks {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .post{
        padding: 5rem 1rem;
    }
    .container1{
        display: flex;
        padding: 0 1rem 4rem 1rem;
        border-bottom: 1px solid #8080801f;
    }
    .news{
        width: 50%;
    }
    .news1{
        width: 50%;
        padding: 4rem 0 0 10rem;
    }
    .edu{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .color nav ul{
        display: flex;
        padding: 0 0 0 1rem;
    }
    .color nav ul li{
        padding: 0 0 0 2rem;
    }
}
@media (min-width: 1024px){
    .log{
        display: none;
    }
    .container {
        background-size: 50%;
        background-position: top 0rem right -12rem;
        padding: 5rem 0 0 0;
        background-image: url(./img/download.png);
        background-repeat: no-repeat;
    }
    .content h1{
        font-size: 2rem;
        padding: 2rem 0 0 1rem;
    }
    .content p{
        padding: 1rem;
    }
    .navbar ul{
        display: flex;
        list-style-type: none;
    }
    .content{
        width: 50%;
        padding: 0;
    }
    .image1{
        width: 28%;
    }
    .image2{
        width: 18%;
        margin: 4rem 0 0 0;
    }
    .grid{
        width: 80%;
    }
    .block1 div {
        text-align: center;
        padding: 4rem 2rem;
        width: 30%;
        border-radius: 0.4rem;
        margin: 0 0 1rem 1rem;
    }
    .navbar li {
        padding: 0.9rem;
        margin: 2rem 0 0 0;
    }
    .pic{
        background-size: 57%;
        background-position: bottom -1rem left -13rem;
        padding: 8rem 0 0 0;
        background-image: url(./img/download.png);
        background-repeat: no-repeat;
    }   
     .blocku-wrapper {
        background-size: 20%;
        background-image: url(./img/Group\ 10@1X.png);
        background-repeat: no-repeat;
        background-position: top 6rem left 2rem;
    }
    .university{
        width: 50%;
        background-image: url('./img/Ellipse\ 2@1X.png');
        background-repeat: no-repeat;
        background-position: top 2rem left 1rem;
        background-size: 86%;
    }
    .blocku{
        width: 80%;
    }
    .more {
        width: 100%;
        padding: 0 0 5rem 0;
    }
    .work1 {
        display: flex;
        justify-content: space-between;
    }
    .start2 {
        padding: 8rem 7rem 0 0;
    }
    .account {
        margin-top: 0rem;
        border: 1px solid #8080804d;
        width: 35%;
    }
    .container2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 3rem 0 0 0;
        grid-gap: 4rem;
    }
    .container1 {
        padding: 0 0 4rem 0;
    }
    .news1 {
        padding: 4rem 0 0 10rem;
    }
    .edu{
        display: flex;
        font-size: 0.7rem;
    }
    .copyright{
        display: flex;
    }
    .web3 a {
        margin-left: -4rem;
    }
}
@media (min-width: 1440px){
   .log{
       display: none;
   }
   .content h1 {
    font-size: 2.5rem;
    padding: 7rem 0 0 1rem;
    }
    .content p {
        padding: 1rem 10rem 2rem 1rem;
    }
    .image2 {
        width: 18%;
        margin: 7rem 0 0 0;
    }
    .grid {
        width: 65%;
    }
    .block1 div {
        padding: 5rem 5rem;
        border-radius: 0.4rem;
    }
    .blocku {
        width: 65%;
    }
    .pic {
        background-size: 51%;
        background-position: bottom -6rem left -13rem;
    }
    .blocku-wrapper {
        background-size: 18%;
        background-position: top 3rem left 10rem;
    }
    .work {
        display: flex;
    }
    .start2{
        padding: 8rem 3rem;
    }
    .blocks{
        width: 65%;
    }
    .copy{
        width: 65%;
        margin: 0 auto;
    }
    .account {
        margin-top: -2rem;
        margin-bottom: -3rem;
        width: 60%;
    }
    .man{
        padding: 0 0 0 15rem;
    }
}
@media (min-width: 1800px){
    .content h1 {
        font-size: 3rem;
    }
    .content p{
        font-size: 1.6rem;
    }
    .block1 div {
        padding: 6rem 6rem;
    }
    .more h2, .news h3{
        font-size: 3rem;
    }
    .more p{
        font-size: 1.6rem;
    }
    .news p{
        font-size: 1.6rem;
    }
    .container2 h3 {
        font-size: 2rem;
    }
    .container2 div p {
        font-size: 1.2rem;
    }
    .pic {
        background-size: 37%;
        background-position: bottom -6rem left -6rem;
    }
    .university {
        background-size: 77%;
    }
    .work {
        justify-content: center;
    }
    .blocku-wrapper {
        background-size: 18%;
        background-position: top 0rem left 14rem;
    }
    .edu{
        font-size: 0.9rem;
    }
}