@media only screen and (max-width: 2560px) {
.rx-grid-container{
    width: 1140px;
}

}
@media only screen and (max-width: 1440px) {
    
    .rx-grid-container{
        width: 1140px;
    }
    }
@media only screen and (max-width: 1200px) {
    .rx-grid-container{
        width: 1140px;
}
@media only screen and (max-width: 1023px) {
   
    .rx-grid-container{
        width: 1140px;
    }
}
@media only screen and (max-width: 768px) {
    
    .rx-grid-container{
        width: 768px;
    }
    .rx-image2 {
        margin-top: 2rem;
        margin-right: -1rem;
    }
    .rx-info1 {
        border-right: solid 1px black;
        width: 16rem;
        margin-left: -2rem;
    }
    .rx-image1 {
        padding-top: 2rem;
        margin-left: 1rem;
    }
}
@media only screen and (max-width: 425px) {
    
    .rx-grid-container{
        width: 425px;
    }
    .rx-image2 {
        margin-top: 2rem;
        margin-right: 1rem;
    }
    .rx-info1 {
        border-right: solid 1px black;
        width: 16rem;
        margin-left: 1rem;
    }
    .rx-image1 {
        padding-top: 2rem;
        margin-left: 1rem;
    }
}