
.rx-para{
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.48rem;
}

.rx-grid-container{
    display: grid;
    grid-auto-flow: column;
    width: 1140px;
  }
  .rx-image1{
    position: relative;
    padding-top: 2rem;
    margin-left: 7rem;
  }
  .rx-head1{
    color: #c8102e;
    font: normal normal 300 1.5rem/2rem "proxima-nova", sans-serif;
    margin-bottom: -1rem;
    }
    .rx-info1{
      border-right: solid 1px black;
      width: 16rem;
      margin-left: -5rem;
    }
    .rx-info2{
      width: 14rem;
    }
  
  .rx-image2{
    position: relative;
    margin-top: 2rem;
    margin-right: -5rem;
  }
  .rx-head2{
    color: #c8102e;
    font: normal normal 300 1.5rem/2rem "proxima-nova", sans-serif;
    margin-bottom: -1rem;
    }
 