@media only screen and (max-width: 2560px) {
    .lsp-grid-container{ width: 2560px;}
    .lsp-para{
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
    .lsp-grid1{
        margin-bottom: 2rem;
        margin-left: 8rem;
    }
    .lsp-grid2{
        margin-left: 4rem;
        margin-top: 4rem;
    }
    .lsp-vl {
        height: 12rem;
        left: 65rem;
        top: 5rem;
    }
}
@media only screen and (max-width: 1440px) {
    .lsp-grid-container{ width: 1440px;}
    .lsp-grid2{
        margin-left: 4rem;
        margin-top: 5rem;
    }
    .lsp-vl {
        height: 12rem;
        left: 38rem;
        top: 7rem;
    }
}
@media only screen and (max-width: 1024px) {
    .lsp-grid-container{ width: 1024px;}
    .lsp-vl {
        height: 20rem;
        left: 27rem;
        top: 7rem;
    }
}
@media only screen and (max-width: 768px) {
    .lsp-grid-container{ width: 768px;}
    .lsp-vl {
        height: 30rem;
        left: 21rem;
        top: 8rem;
    }
    .lsp-grid2{
        margin-left: 4rem;
        margin-top: 10rem;
    }
}
@media only screen and (max-width: 425px) {
    .lsp-grid-container{ width: 425px;}
    .lsp-vl {
        height: 0rem;
        left: 21rem;
        top: 8rem;
    }
    .lsp-para{
        margin-left: 0rem;
        margin-bottom: 1rem;
        width: 20rem;
    }
    .lsp-grid1{
        margin-bottom: 2rem;
        width: 20rem;
        margin-left: 1rem;
    }
    .lsp-grid2{
        margin-left: -10rem;
        margin-top: 34rem;
    }
}