* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  line-height: 1.48rem;
}
.lsp1{
  background-color:  #f3f3f3;
}
.lsp-para{
  margin-left: 0rem;
  margin-bottom: 1rem;
}
.lsp-grid-container{
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-template-columns: 35% 50%;
  background-color:  #f3f3f3;
}
.col1{
  width: 40rem;
}
.lsp-grid1{
  margin-bottom: 2rem;
  margin-left: 8rem;
}
.lsp-grid2{
  margin-left: 4rem;
  margin-top: 8rem;
}
.lsp-heading{
  color: #c8102e;
  font: normal normal 300 1.5rem/2rem "proxima-nova", sans-serif;
}
.lsp-para1{
word-break: keep-all;
margin-bottom: 2rem;
}
cite {
  font-size: 100%;
  margin-top: 25px;
  display: block;
  margin-bottom: 2rem;
}
cite img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
hr{
  width: 20rem;
}
.lsp-vl {
  border-left: 1px solid grey;
  height: 12rem;
  position: absolute;
  left: 38rem;
  top: 10rem;
}