@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@media only screen and (max-width: 600px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin: 10px;
}
.logo1{
    color: white;
    width: 50%;
    margin: 10px;
}
.navbar{
    width: 30%;
    margin: 20px;
    word-spacing: 25px;
    
}
.btn{
    width: 20%;
    margin: 5px;
    background-color: #329D23;
    border-radius: 10px 10px 10px 10px;
}
.image1{
    max-width: 100%;
}
.info{
    color:black;
    text-align: center;
}
.btn1{
    width: 15%;
    height: 50%;
    margin: 5px;
    background-color: inherit;
    border-radius: 10px 10px 10px 10px;
}
.flex-container1 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin: 50px;
}
.image2 {
    color: darkgreen;
    width: 50%;
    margin: 10px;
}
.content{
    line-height: 30px;
    color: darkgreen;
    text-align: center;
    width: 20%;
    margin: 10px;
}
.btn2{
    font-size: 20px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    color:white;
    background-color: #329D23;
}
.flex-container2 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.image3{
    width: 25%;
    margin: 10px;
}
.info1{
    font-size: 20px;
    line-height: 35px;
    width: 25%; 
    padding: 15px;
    margin: 10px;
    background-color: #F3FFF2;
    color: darkgreen;
    text-align: left;
}
.image4{
    width: 25%;
    margin: 10px;
}
.info2{
    font-size: 20px;
    line-height: 35px;
    width: 25%; 
    margin: 10px;
    padding: 15px;
    background-color: #F3FFF2;
    color: darkgreen;
    text-align: left;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
}
.flex-item {
    width: 50%;
    margin: 10px;
}
.btn3{
    font-size: 20px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    margin-top: 40px;
    color:white;
    background-color: #329D23;
}
.btn4{
    font-size: 20px;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    color:white;
    background-color: #329D23;
}
.flex-container3 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.list1{
    text-align: left;
    color: blue;
    width: 25%;
    margin: 20px;
}
.list2{
    text-align: left;
    color: blue;
    width: 25%;
    margin: 20px;
}
.list3{
    text-align: left;
    color: blue;
    width: 25%;
    margin: 20px;
}
.list4{
    text-align: left;
    color: blue;
    width: 25%;
    margin: 20px;
}
.flex-container4 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.info3{
    list-style-type: square;
    font-size: 19px;
    line-height: 30px;
    width: 50%; 
    margin: 10px;
    color: darkgreen;
    text-align: left;
}
.flex-container5 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.video img{
    width: 100%;
    margin-left: 10px;
}
.flex-container6 {
    background-color: #F3FFF2;
    display: -webkit-flex;
    display: flex;
    width: 80%;
}
.image6{
    margin: 10px;
}
.info4{
    line-height: 35px;
    margin: 10px;
    word-break: keep-all;
    color: darkgreen;
    text-align: left;
}
.flex-container7 {
    background-color: #F3FFF2;
    display: -webkit-flex;
    display: flex;
    width: 80%;
}
.image7{  
    margin: 10px;
}
.info5{
    line-height: 35px;
    color: darkgreen;
    text-align: left;
}
.btn5{
    font-size: 20px;
    width: ;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    color:white;
    background-color: #329D23
}
.flex-container8 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.image8{
    width: 50%;
    margin: 10px;
}
.info6{
    background-color: white;
    margin-top: 5rem;
    margin-left: 30px;
    width: 25%;
    line-height: 30px;
    color: darkgreen;
    text-align: left;
}
.btn6{
    font-size: 20px;
    width: 25%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin: 10px;
    color: black;
    background-color: white
}
.flex-container9 {
    background-color: #F3FFF2;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.info7{
    color: darkgreen;
    text-align: left;
    width: 50%;
    margin: 10px;
}

.info8{
    text-align: left;
    color: darkgreen;
    width: 25%;
    margin: 10px;
}
.info9{
    text-align: left;
    color: darkgreen;
    width: 25%;
    margin: 10px;
}
.cpy{
    text-align: center;
    background-color:#F3FFF2; 
}