body {
    text-align: left;
    background-image: url("https://i.pinimg.com/originals/29/ba/61/29ba61d0f04dfc1a09d6ea41165cf8f6.jpg");
    background-repeat: no-repeat;
    padding: 20px
}
.overlay{
    margin-top: 0rem;
    text-align: end;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1000%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: skyblue;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
    font-size: 20px;
    padding: 20px;
}

.container:hover .overlay {
    opacity: 1.5;
}
