body {
    text-align: left;
    background-attachment: fixed;
    background-image: url(https://www.bergerpaints.com/colour-magazine/Upload/Posting/Image/colour-story-bnr-july-18.jpg);
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1000%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: lightskyblue;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
    font-size: 25px;
    padding: 20px;
}

.container:hover .overlay {
    opacity: 1.5;
}