body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}
nav h1{
    color: #0b66c2;
    font-size: 30px;
}
.img{
    margin-left: -4px;
    vertical-align: text-top;
}
.nav{
    margin-top: 27px;
    margin-right: 60px;
}
nav a{
    text-decoration: none;
    margin-right: 10px;
    color: grey;
}
.btn{
    padding: 8px 15px;
    border-radius: 20px;
    border: 1.5px solid #0b66c2;
    background-color: inherit;
    color: #0b66c2;
    font-size: 15px;
    font-weight: 600;
}