@import url('./fonts/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
body {
  font-family: "Lato", sans-serif;
    margin: 10px;
    background-color: white;
  }
#navbar {
    display: grid;
    height: 80px;
    grid-auto-flow: column;
    background-color:black;
    grid-gap: 2em;
    padding: 0 100px;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  }
  
#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    font-family: "Lato", cursive;
    font-size: 30px;
    font-weight: 700;
    color:#e5474b;;
  }
#links {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    font-family: "Open Sans", sans-serif;
  }
  
a {
    text-decoration: none;
    color:white;
  }
.container1{ 
    display: grid;
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 79rem;
}
img{
  max-width: 100%;
  height: auto;
}
.container .inner{
  max-width: 70em;
  width: calc(100% - 6em);
  margin: 0 auto;
  position: relative;
  z-index: 9000;
  line-height: 1.5;
}

.text1{
  word-spacing: 1rem;
  padding: 10rem;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
  vertical-align: baseline;
}
.button{
  width: 9rem;
  height: 3rem;
  background-color: inherit;
  border: 2px solid white;
  color: white;
  text-indent: 0px;
  font-size: 1rem;
  margin-top: 2rem;
}
.grid-container2{
    display: grid;
}
.row1{
  display: grid;
  grid-gap: 2em;
  padding: 0 100px;
  background-color: white;
}
.head{
  color: #e5474b;
  margin-top: 6rem;
  margin-bottom: -1rem;
  font-size: 1.75em;
}
.para1{
  line-height: 2rem;
  vertical-align: baseline;
}
.btn{
  width: 8rem;
  height: 3rem;
  color: #e5474b;
  background-color: inherit;
  border: 2px solid #e5474b;
  margin-top: -1rem;
  margin-bottom: 5rem;
}
.grid-container3{
  display: grid;
  grid-auto-flow: column;
  padding: 0 100px;
  background-color: #f3f3f3;
}
.grid1{
  padding-right: 6rem;
  grid-gap: 10rem;
}
.head1{
  margin-top: 7rem;
  color: #e5474b;
  font-size: 1.35em;
}
.para2{
    line-height: 2rem;
    vertical-align: baseline;
}
.grid2{
  padding-right: 5rem;
  padding-left: 5rem;
  background-color: #f7f7f7;
  }
.head2{
  margin-top: 7rem;
  color: #e5474b;
  font-size: 1.35em;
}
.para3{
    line-height: 2rem;
    vertical-align: baseline;
}
.grid-container4{
  display: grid;
  grid-gap: 8rem;
  grid-auto-flow: column;
  padding: 0 100px;
}
.grid3{
  margin-top: 7rem ;
  line-height: 2rem;
}
.head3{
  color: #e5474b;
}
.btn1{
  width: 8rem;
  height: 3rem;
  color: #e5474b;
  background-color: inherit;
  border: 2px solid #e5474b;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.grid4{
  margin-top: 7rem ;
  line-height: 2rem;
}
.head4{
  color: #e5474b;
}
.btn2{
  width: 8rem;
  height: 3rem;
  color: #e5474b;
  background-color: inherit;
  border: 2px solid #e5474b;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.grid5{
  margin-top: 7rem ;
  line-height: 2rem;
}
.head5{
  color: #e5474b;
}
.btn3{
  width: 8rem;
  height: 3rem;
  color: #e5474b;
  background-color: inherit;
  border: 2px solid #e5474b;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
