* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 5rem;
}
header {
  display: flex;
  flex-flow: row-reverse;
}
.start {
  padding: 0.2rem 1.5rem;
  background: #000;
  color: #fff;
  border: none;
}
.gameBoard {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 1rem 0;
}
.time {
  padding: 0.5rem 0;
  color: #000;
}
#playerList {
  padding: 1rem 0;
}
.coinBlock {
  height: 10rem;
  background: #646060;
  color: #fff;
  width: 100%;
  max-width: 18rem;
  text-align: center;
}
.coinBlock div {
  display: flex;
  flex-flow: column;
  padding: 4rem 0 0 0;
  width: 100%;
}
.coinBlock h1 {
  padding: 2rem 1rem 0;
}
.spin {
  background-color: #ff5959;
  border: 0;
  width: 100%;
  padding: 0.5rem;
  margin: 4rem 0 0 0;
}
#listOfPlayers {
  margin: 2rem 0 0 0;
}
#playerList label {
  position: absolute;
}
#playerList input,
.coin,
#add {
  position: relative;
  top: 1.5rem;
  margin: 0 0.3rem 0 0;
}
#add {
  padding: 0.2rem 1rem;
  margin: 0 2rem;
  background-color: #000;
  color: #fff;
  border: none;
  position: relative;
  top: 1.4rem;
}
.playersData {
  margin: 2rem 0 1rem 0;
}
#contest {
  padding: 1rem 0;
}
