body{
    font-family: 'Roboto', sans-serif;
   
}
body p{
    color: grey;
}
main{
    width: 1140px;
    left: 50%;
    margin-left: 335px;
}
header{
    text-align: center;
    padding-bottom: 60px;
}

.row1{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    box-shadow: 0 8px 6px -6px lightgrey;
}
.btn{
    height: 45px;
    margin-top: 20px;
    border: 1px solid lightgray;
    background-color: inherit;
    border-radius: 5px;
    width: 18%;
    color: blue;
    margin-right: 15px;
}
.s1{
    margin-right: 80px; 
}
.p1{
    margin-top: -15px;   
}
.u2{
    margin-top: -15px; 
}
.u3{
    margin-top: -15px; 
}
.p2{
    margin-top: 23px;
    width: 40.2%;
}
.circle{
    margin-top: 40px;
    margin-left: 40px;
}
.circle1{
    margin-top: 32px;
    margin-left: 36px;
}
.p3{
    width: 40%;
}

.p4{
    width: 40.5%;
}