body{
  font-family: 'Roboto', sans-serif;
}
.container{
  display: grid;
  grid-auto-flow: column;
  padding: 0px 20px;
}
.img{
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.links{
  padding: 16px 0px;
}
nav a {
  text-decoration: none;
  color: grey;
  padding: 0px 9px;
  font-size: 12px;
}
a:hover{
  color: #1a73eb;
}
.btn{
  border: 1px;
  background-color: white;
}
.search{
  width: 15px;
  vertical-align: bottom;
  margin-top: 18px;
}
.google{
  margin-top: 2px;
}
select{
  padding: 5px 15px;
  border: 1px solid lightgrey;
  background-color: inherit;
  border-radius: 5px;
}
.profile{
  width: 30px;
  vertical-align: bottom;
}
.get{
  padding: 7px 10px;
  background-color: #1a73eb;
  border: 1px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}