<!DOCTYPE html>
<html>
    <head>
        <title>Affilate Hosting program</title>
        <meta name="description" content="Hosting Affilate program">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="#"><img src="./img/www.siteground.com_ (1).png" alt="siteground logo"></a>
             </div>
             <div class="nav">
                 <nav>
                     <ul>
                        <li><a href="#">HOSTING</a></li>
                        <li> <a href="#">TECHNOLOGY</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">AFFILIATES</a></li>
                     </ul>
                 </nav>
             </div>
             <div class="login">
                 <i></i>
                 <a href="#">LOGIN</a>
            </div>
        </header>
        <main>
            <section class="introduction">
                <div class="host">
                    <h1>Hosting Affilate program</h1>
                    <p>We offer great commissions,but most of our affilates endors us for a different reasons: the quality of service. If you want to recommend a host that won't fall your customers, readers, or friends,join our affliate program now! </p>
                    <a href="#">JOIN-NOW</a>
                </div>
            </section>
            <section class="weekly-payouts">
                <div class="refer-payouts">
                    <div class="commission">
                        <div class="high">
                            <h2>High commission with weekly payouts and Short Withhold Period</h2>
                            <p>The more you refer, the higher the commission per sale. Not only that, but we pay out weekly without minimum payout thresholds. And, we only have a short Withhold period of 30 days.</p>
                            <button class="learn-more">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="weekly-payouts-list">
                        <li class="sales1">1-5 Sales/mo <b> $50 /sale</b></li>
                        <li class="sales2">6-10 Sales /mo <b>$75/sale</b></li>
                        <li class="sales3">11-20 sales /mo <b>$100/sale</b></li>
                        <li class="sales4">21+ Sales /mo <b>Custom commissions</b></li>
                    </div>
                </div>
                <div class="refer-clients">
                    <div class="refer-image">
                        <img src="./img/2.https-_www.siteground.com_affiliates.png" alt="refering client laptop animation image">
                    </div>
                    <div class="easy-ways">
                        <div class="easy">
                            <h2>Easy Ways to Refer Clients and Earn Commissions</h2>
                            <p>Referring clients is really easy. Get your affiliate link and put it on your site, in social media posts, videos, or give it to your contacts in conversations and follow-up emails. We have prepared a special guide to help you do just that!</p>
                            <a href="#">LEARN-MORE</a>
                        </div>
                    </div>
                </div>    
            </section>
            <section class="join"> 
                <div class="ready">
                    <h2>Ready To Become An Affiliate?</h2>
                    <p>Partner with SiteGround and earn big commissions for every sale you refer.</p>
                    <a href="#">JOIN-NOW</a>
                </div>
            </section>
        </main>
        <footer>
            <div class="additional-information">
                <div class="hosting-services">
                    <nav>
                        <ul>
                            <li></li><h3>HOSTING SERVICES</h3>
                            <li><a href="#"> Web Hosting</a></li>
                            <li><a href="#">WordPress Hosting</a></li>
                            <li><a href="#">WooCommerce Hosting</a></li>
                            <li> <a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="useful-resources">
                    <nav>
                        <ul>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                           <li> <a href="#"></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="about-us">
                    <nav>
                        <ul>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                            <li> <a href="#"></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="recent-blog">
                    <a href=""></a>
                    <div class="time">
                        <i></i>
                        <p></p>
                    </div>
                    <a href=""></a>
                    <div class="time">
                        <i></i>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="region">
                <p></p>
                <select name="world" id="world">
                    <option value=""></option>
                </select>
                <p></p>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <div class="terms-and-conditions">
                <div class="rules-list">
                    <a href=""></a>
                    <a href=""></a>
                    <p></p>
                </div>
                <div class="social-media">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
        </footer>
    </body>
</html>