<!DOCTYPE html>
<html>
    <head>
        <title>Affilate Hosting program</title>
        <meta name="description" content="Hosting Affilate program">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="#"><img src="./css/img/www.siteground.com_ (1).png" alt="siteground logo" class="site"></a>
                 <nav class="nav">
                     <ul class="tech">
                        <li><a href="#">HOSTING</a></li>
                        <li> <a href="#">TECHNOLOGY</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">AFFILIATES</a></li>
                     </ul>
                 </nav>
             </div>
             <div class="login">
                <i class="fa fa-user-circle"></i>
                 <a href="#">LOGIN</a>
            </div>
        </header>
        <main>
            <section class="hero-banner">
                <div class="host">
                    <h1>Hosting Affilate program</h1>
                    <p>We offer great commissions,but most of our affilates endors us for a different reasons: the quality of service. If you want to recommend a host that won't fall your customers, readers, or friends,join our affliate program now! </p>
                    <div class="join-now"><a href="#">JOIN-NOW</a></div>
                </div>
            </section>
            <section class="weekly-payouts">
                <div class="refer-payouts">
                    <div class="commission">
                        <div class="high">
                            <div class="vl"></div>
                            <h2>High commission with weekly payouts and Short Withhold Period</h2>
                            <p>The more you refer, the higher the commission per sale. Not only that, but we pay out weekly without minimum payout thresholds. And, we only have a short withhold period of 30 days.</p>
                            <a href="#">LEARN-MORE</a>
                        </div>
                    </div>
                    <div class="weekly-payouts-list">
                        <li class="sales1"> 1-5 Sales/mo <b> $50 /sale</b></li>
                        <li class="sales2"> 6-10 Sales /mo <b>$75/sale</b></li>
                        <li class="sales3"> 11-20 sales /mo <b>$100/sale</b></li>
                        <li class="sales4"> 21+ Sales /mo <b>Custom commissions</b></li>
                    </div>
                </div>
                <div class="refer-client">
                    <div class="refer">
                        <img src="./css/img/2.https-_www.siteground.com_affiliates.png" alt="refering client laptop animation image">
                    </div>
                    <div class="easy-ways">
                        <div class="easy">
                            <div class="vl"></div>
                            <h2>Easy Ways to Refer Clients and Earn Commissions</h2>
                            <p>Referring clients is really easy. Get your affiliate link and put it on your site, in social media posts, videos, or give it to your contacts in conversations and follow-up emails. We have prepared a special guide to help you do just that!</p>
                            <a href="#">LEARN-MORE</a>
                        </div>
                    </div>
                </div>    
            </section>
            <section class="join"> 
                <div class="ready">
                    <h2>Ready To Become An Affiliate?</h2>
                    <p>Partner with SiteGround and earn big commissions for every sale you refer.</p>
                    <a href="#">JOIN-NOW</a>
                </div>
            </section>
        </main>
        <footer>
            <div class="additional-information">
                <div class="hosting-services">
                    <nav>
                        <ul>
                            <h3>HOSTING SERVICES</h3>
                            <li><a href="#"> Web Hosting</a></li>
                            <li><a href="#">WordPress Hosting</a></li>
                            <li><a href="#">WooCommerce Hosting</a></li>
                            <li> <a href="#">Reseller Hosting</a></li>
                            <li><a href="#">Cloud Hosting</a></li>
                            <li> <a href="#">Enterprise Hosting</a></li>
                            <li> <a href="#">Domain Names</a></li>
                            <li><a href="#">Web Hosting for Agencies</a></li>
                            <li> <a href="#">Student Hosting</a></li>
                            <li> <a href="#">Hosting Web en Español</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="useful-resources">
                    <nav>
                        <ul>
                            <h3>USEFUL RESOURCES</h3>
                           <li> <a href="#">WordPress Tutorial</a></li>
                           <li> <a href="#">WordPress Optimization Ebook</a></li>
                           <li> <a href="#">WordPress Security Ebook</a></li>
                           <li> <a href="#">WooCommerce Ebook</a></li>
                           <li> <a href="#">Using WordPress REST API Ebook</a></li>
                           <li> <a href="#">Small Business Guide</a></li>
                           <li> <a href="#">Holiday Marketing Guide</a></li>
                           <li> <a href="#">Post-Holiday Sales Guide</a></li>
                           <li> <a href="#">Geek 2 English Podcast</a></li>
                           <li> <a href="#">Knowledge Base</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="about-us">
                    <nav>
                        <ul>
                            <h3>ABOUT US</h3>
                            <li> <a href="#">Company</a></li>
                            <li> <a href="#">Affiliate Program</a></li>
                            <li> <a href="#">SiteGround Reviews</a></li>
                            <li> <a href="#">Blog</a></li>
                            <li> <a href="#">Careers</a></li>
                            <li> <a href="#">Brand Assets</a></li>
                            <li> <a href="#">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="recent-blog">
                    <h3>RECENT FROM BLOG</h3>
                    <nav>
                        <ul>
                            <li><a href="#">What are Brute Force Attacks and Why YOU Don’t Have to Worry About Them</a></li>
                            <div>
                                <div>
                                    <i></i>
                                    <p>04 Feb, 2021</p>
                                </div>
                                <div>
                                    <i></i>
                                    <a href="#">comments</a>
                                </div>
                            </div>
                            <li><a href="#">New MySQL Setup For Faster Query Processing</a></li>
                            <div>
                                <div>
                                    <i></i>
                                    <p>28 Jan, 2021</p>
                                </div>
                                <div>
                                    <i></i>
                                    <a href="#">comments</a>
                                </div>
                            </div>
                        </ul>
                    </nav>
                    <a href=""></a>
                    <div class="time">
                        <i></i>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="region">
                <p>REGION:</p>
                <select name="world" id="world">
                    <option selected>world</option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Spain">Spain</option>
                    <option value="Italy"> Italy</option>
                    <option value="Germany">Germany</option>
                    <option value="Europe"> Europe</option>
                    <option value="Australia">Australia</option>
                    <option value="LATAM">LATAM</option>
                </select>
                <p>WE ACCEPT:</p>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
            <div class="terms-and-conditions">
                <div class="rules-list">
                   <nav>
                       <ul>
                            <li>
                                <a href="#">Terms and Conditions</a>
                                <a href="#">Privacy</a>
                            </li>
                       </ul>
                   </nav>
                    <p>© 2021 SiteGround Hosting Ltd. All rights reserved.</p>
                </div>
                <div class="social-media">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                </div>
            </div>
        </footer> -->
        
    </body>
</html>